[submodule "CipherSchool-Backend"]
	path = CipherSchool-Backend
	url = https://github.com/prince2520/CipherSchool-Backend.git
[submodule "CipherSchool-Frontend"]
	path = CipherSchool-Frontend
	url = https://github.com/prince2520/CipherSchool-Frontend.git
